<% for(var i=0; i<data["Search"].length;i++){%>
<!--  <li><%= data["Search"][i]["Title"] %></li>-->
<li><%= data.Search[i].Title %></li>
<% } %>

<a href="/">volver</a>

<!--con distintos loops-->
<!--
 <% data["Search"].forEach(function(movie){%>
    <li><%= movie.Title %></li>

<% }); %> 
-->